* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.imagem_fund{
  background-image: url('/imagens/imagem_fund.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: #00c4a7;
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.logo span {
  margin-left: 8px;
}
h2 {
  background-color: #00c4a7;
  padding: 15px 30px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 18px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.card {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.card h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

select, input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #00c4a7;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #00a68e;
}
